:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    background-color: #272727;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}